/*.pyc
.aliases
.bash_profile
.bash_prompt
.bashrc
.coverage
.directory
.ipynb_checkpoints/
Diyas_microarray_script.py
Find_the_weird_file.py
M_analyze_bam.py
M_analyze_bams.ipynb
M_phylogeny.R
M_pipeline_testJ3.sh
M_pipeline_testN1.sh
M_pipeline_testO1.sh
__pycache__/
combined_header.sam
config_files.tgz
config_files.zip
fallenlondon_simulation.py
genomes_to_get.txt
i100_tax_ids.txt
ipython_nbconvert_config.py
lanthplot_seaborn.py
matplotlib/
non-zero_abundances.txt
pygraph/
simLC_MFAs/
sort_tuple.py
testE.SAM
testE_I_pileup.pickle
testE_head.sam
test_M_compare_metagenome_results_1_expression.txt
test_M_process_metagenome_reference_1_fragmented_genomes_0.mfa
test_M_process_metagenome_reference_1_fragmented_plasmids_0.mfa
test_M_process_metagenome_reference_2_fragmented_genomes_0.mfa
test_M_process_metagenome_reference_2_fragmented_plasmids_0.mfa
test_sam_header.SAM
